*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%) url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;;
    text-align: center;
}
.card{
    height: 520px;
    width: 300px;
    border-radius: 20px;
    padding: 0;
    border: 1px solid black;
    background: white;
    margin-bottom: 30px;
}
img{
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 30%;
}
h1{
    font-weight: 900;
    font-size: 25px;
    margin: 5% 0 5% 0;
}
p{
    width: 90%;
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin: auto;
    font-size: 15px;
}
.one{
    background-color: hsl(225, 44%, 96%);
    display: flex;
    width: 90%;
    border-radius: 9px;
    margin: 6% auto 6% auto;
    justify-content: center;
    align-items: center;
    padding: 10px 2px;
    box-sizing: border-box;
    
}
.one>img{
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 100%;
    background-color:hsl(225, 100%, 94%) ;
}
h2{
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.ver{
    margin-left: 20px;
    margin-right: 35px;
}
.one > a{
    color: blue;
    font-weight: 700;
    font-size: 13px;
}
button{
    color: whitesmoke;
    background-color: hsl(245, 75%, 52%);
    width: 90%;
    border-radius: 10px;
    padding: 15px 3px;
    font-weight: 900;
    border: none;
    margin-bottom: 5%;
}
#cancel{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.black{
    color: rgba(0,0,0,0.75);
}